*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: black;
}

html, body {
  height:100vh;
  width: 100vw;
  overflow: auto;
  scroll-behavior: smooth;
}


.header{
  height: 80px;
  border-bottom: 1px solid #80808066;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* gap:30px; */
}

.headerLogo p{
  font-size: 30px;
  flex: 0 0 auto;
  width: fit-content;
  font-weight: 700;
  margin: 0px 10px 0px 0px;
  color: #004c4e;
}

.headerSearchBarSection{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.SearchInput{
  position: relative;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  width: 40%;
  margin:0px 10px 0px 0px;
}

.SearchInput input{
  width: 100%;
  padding: 10px;
  border-radius: 50px;
  border: 1px solid #dadada;
}

.searchIcon{
 position: absolute;
 right: 4px;;
 height: 30px;
 aspect-ratio: 1;
 border-radius: 50px;
 color: white;
 font-size: 16px;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #004c4e;

}

.searchIcon img{
  height: 14px;
}

.subOptions{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subOptions .list{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
}

/* .subOptions .list{
  width: 50%;
} */

.subOptions .list li{
  /* margin-inline: 30px; */
  padding-inline: 20px;
  white-space: nowrap;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.subOptions .list li:last-child{
  /* margin-inline: 30px; */
  padding-right: 0px;
}

.subOptions .list li .listIcon{
  margin-right: 6px;
  height: 20px;
}

.subOptions .list li div p:first-child{
  color: grey;
  font-size: 13px;
  line-height: 14px;
}

.subOptions .list li div p:nth-child(2){
  color: black;
  font-size: 13px;
  line-height: 14px;
  font-weight: 600;
}

 .subOptions .list ul li:hover{
    color: blue;
  }

.closeSubOptions{
  display: none;
}

.selectOption{
  width: 40%;
}


.selectOption select{
    border: none;
    width: 100%;
    padding: 10px;
    border-radius: 50px;
    background-color: #efefef;
}

option[value=""] {
  color: gray;
}


.headerSubTitle{
  text-align: center;
  padding: 10px;
  background-color: #004c4e;
}

.headerSubTitle p{
  color: white;
  margin: 0;
}

.hamburger{
  display: none;
}

.closeMenu{
  display: none;
}

.mainSection{
  height: 100%;
  padding: 10px 20px;
}

.mainSectionBanner{
  height: 50vh;
  border-radius: 5px;
  overflow: hidden;
  background-color: #004c4e;
  margin-bottom: 30px;
}

.mainSectionBanner img{
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.categoriesTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.categoriesTitle p:first-child{
  font-size: 30px;
  color: #004c4e;
  font-weight: 600;
}

.categoriesTitle p:nth-child(2){
  font-size: 16px;
  color: grey;
}

.categoriesItemSection{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap:20px;
  margin-bottom: 30px;
}

.categoriesItem{
  max-width: 100%;
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 5px;
}

.categoriesItem img{
  height: 100%;
  width: 100%;
}

.productSection{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(170px,1fr));
  gap:20px;
}

.productSectionItems{
  aspect-ratio: 9 / 14;
  border: 1px solid grey;
  border-radius: 5px;
}

@media (max-width: 768px){

  .overlay{
    position: fixed;
    opacity: 0;
    visibility: hidden;
    inset: 0;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.3);
  }

  .overlay.overlayActive{
    visibility: visible;
    opacity: 1;
  }

  .mainSection{
    height: fit-content;
  }

  /* header{
    position: relative;
  } */
   
  .headerSearchBarSection{
    justify-content: flex-start;
  }

  .subOptions{
    width:100%;
    background-color: white;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    opacity: 1;
    max-height:0;
    overflow: hidden;
    transition: all ease-in 500ms;
    z-index: 1;
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 22px;
  }

  .hamburger{
    display: block;
    height: 30px;
    aspect-ratio: 1;
    background-color: white;
    border: none;
    margin: 0px 0px 0px 10px;
  }

  .closeMenu{
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .closeMenu img{
    height: 14px;
  }

  .hamburger img{
    height: 100%;
    width: 100%;
  }

  .closeSubOptions{
    display: block;
    width: 100%;
    text-align: end;
    margin-bottom: 10px;
    padding: 10px;
  }
  
  .SearchInput{
    margin: 0;
  }

  .selectOption select{
    background-color: white;
    color: grey;
    font-size: 15px;
    padding: 0px;
  }

  .subOptions.active{
    max-height: 300px !important;
    opacity: 1;
  }

  .subOptions .selectOption{
    width: 100%;
    padding: 20px;
  }

 

  .subOptions  ul{
    display: block;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 20px;
    padding-inline: 20px;
  }

  .subOptions  ul li{
    margin: 20px 0px 0px 0px;
  }

  .subOptions  ul li div{
    display: flex;
    align-items: flex-start;
  }

  .subOptions .list li div p:first-child{
    margin-right: 5px;
  }

  .subOptions .list li div p:nth-child(2){
    color: grey;
    font-size: 13px;
    font-weight: 100;
  }

  .subOptions .list ul li:hover{
    color: blue;
  }

  .subOptions .list li .listIcon{
    height: 17px;
  }

  .categoriesItemSection{
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  .productSection{
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr));
  }

}

@media (max-width: 480px){
/* */
  .headerSubTitle p{
    font-size: 12px;
  }

  .headerSearchBarSection .SearchInput{
    width: 100%;
  }

  .categoriesItemSection{
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }

   .SearchInput{
    width: 50%;
    margin: 0;
  }

  .SearchInput input{
    width: 0;
    opacity: 0;
    border: none;
    transition: all ease-in 500ms;
  }

  .enlarge input{
    opacity: 1;
    width: 100%;
    border: 1px solid #dadada;
    
  }

  .mainSectionBanner{
    height: 70vh;
  }
  
  .categoriesTitle p:first-child{
    font-size: 20px;
  }
  
  .categoriesItemSection {
    grid-template-columns: repeat(auto-fill, minmax(100%, 1fr));
  }

}
