*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}

html, body {
  height:100vh;
  width: 100vw;
  background-color: black;
  overflow: auto;
  scroll-behavior: smooth;
}


.header{
  height: 80px;
  border-bottom: 1px solid #80808066;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap:30px;
}

.headerLogo{
  font-size: 30px;
  flex: 0 0 auto;
  width: fit-content;
  font-weight: 700;
  margin: 0px 10px 0px 0px;
  color: #004c4e;
}

.headerSearchBarSection{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.headerSearchBarSection .SearchInput{
  width: 100%;
  height: 100%;
}

.headerSearchBarSection .SearchInput input{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}


.subOptions{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.subOptions .list ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.subOptions .list{
  width: 50%;
}

.subOptions .list ul li{
  /* margin-inline: 30px; */
  padding-inline: 10px;
  white-space: nowrap;
  cursor: pointer;
}

 .subOptions .list ul li:hover{
    color: blue;
  }

.closeSubOptions{
  display: none;
}

.subOptions .selectOption{
  width: 50%;
}

.subOptions .selectOption select{
  width: 100%;
  padding: 10px;
  border-radius: 5px;
}


.headerSubTitle{
  text-align: center;
  padding: 10px;
  background-color: #004c4e;
}

.headerSubTitle p{
  color: white;
  margin: 0;
}

.hamburger{
  display: none;
}

.mainSection{
  height: 100%;
  padding: 10px 20px;
}

.mainSectionBanner{
  height: 30vh;
  border-radius: 5px;
  overflow: hidden;
  background-color: #004c4e;
  margin-bottom: 30px;
}

.mainSectionBanner img{
  height: 30vh;
  width: 100%;
  object-fit: contain;
}

.categoriesTitle{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.categoriesTitle p:first-child{
  font-size: 30px;
  color: #004c4e;
  font-weight: 600;
}

.categoriesTitle p:nth-child(2){
  font-size: 16px;
  color: grey;
}

@media (max-width: 768px){
   
  .headerSearchBarSection{
    justify-content: flex-start;
  }

  .subOptions{
    width:100%;
    background-color: #252525;
    position: absolute;
    right: 0;
    top: 56px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    opacity: 1;
    max-height:0;
    overflow: hidden;
    transition: all ease-in 500ms;
  }

  .hamburger{
    display: block;
    height: 30px;
    aspect-ratio: 1;
    background-color: #004c4e;
  }

  .closeSubOptions{
    display: block;
    width: 100%;
    text-align: end;
    margin-bottom: 10px;
    padding: 10px;
  }

  .subOptions.active{
    max-height: 300px !important;
    
  }

  .subOptions .selectOption{
    width: 100%;
    padding: 10px;
  }

  .subOptions .list ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 10px;
  }

  .subOptions .list ul li{
    margin: 10px 0px 0px 0px;
  }

  .subOptions .list ul li:hover{
    color: blue;
  }

}

@media (max-width: 480px){
  .headerSearchBarSection .SearchInput{
    width: 100%;
  }
}
